form {
  display: flex;
  flex-direction: column;
}

button {
  margin: 10px 0;
}

mat-card.mat-card.mat-focus-indicator {
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  transform: perspective(100px);
  -ms-transform: none;
}

.mat-form-field+button:hover {
  box-shadow: 0 0 0;
  margin-top: 10px;
  margin-bottom: 9px;
  transition: margin 0.1s;
}

.mat-form-field+button {
  margin-top: 9px;
  margin-bottom: 10px;
  font-size: 1rem;
  padding: 0.4rem;
  transition: margin 0.1s;
}

.create-button:hover {
  text-decoration: underline;
}

.server-error {
  color: red;
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  float: left;
  padding: 1rem 2rem;
}
