<section class="section-container">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <mat-card>
        <mat-card-title>{{login | uppercase}}</mat-card-title>
        <form [formGroup]="formGroup" (submit)="uploadFiles()">
          <div class="uploadfilecontainer" tabindex="0" role="button"
               title="Déposer ici vos 3 fichiers: server.js, dist.zip et mock.zip (les .json)"
               appDragDrop (fileDropped)="uploadFile($event)" (click)="fileInput.click()"
               (keydown.enter)="fileInput.click()" (keydown.space)="fileInput.click()"
               [ngClass]="{'blurred': getSpinnerInfos().isSpinnerVisible()}">

            <p>Déposer ici vos 3 fichiers: <br>server.js, dist.zip et mock.zip (les .json)</p>
            
            <ng-container>
            <div class="files-list" [ngClass]="{'transition-disappear' : getSpinnerInfos().isSpinnerVisible()}"
                 *ngFor="let file of files;let i= index">
              <p> {{ file.name }} </p>
              <button class="delete-file" title="supprimer {{file.name}}" (click)="deleteFile(i)">
                                <span class="trash">
                                    <img class="trashhaut" src="../../assets/trashhaut.svg">
                                    <img class="trashbas" src="../../assets/trashbas.svg">
                                </span>

              </button>
            </div>
            </ng-container>

              <app-spinner class="disappear"
                [ngClass]="{'transition-appear' : getSpinnerInfos().isSpinnerVisible()}">

              </app-spinner>

            <input hidden type="file" #fileInput accept=".zip,.js" (change)="uploadFile($event.target.files)">
          </div>

          <div class="error-upload-file-incorrect">
            <p>{{msgErreur | uppercase}}</p>
          </div>

          <mat-card-actions>
            <button mat-raised-button type="submit" color="primary">uploader les fichiers</button>
          </mat-card-actions>

        </form>
      </mat-card>
    </div>
  </div>



</section>
